{% extends 'base.html' %} 

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, corrupti sequi aspernatur, iste illum exercitationem tempora dolores, doloremque facere voluptate adipisci harum. Aut, aliquid expedita? Ipsa aspernatur dolorem ipsam animi repellat! Corrupti unde fugiat, maiores nihil expedita obcaecati beatae error quas voluptatibus laborum architecto tenetur dolorum, dolores tempora voluptas mollitia maxime voluptatem magni incidunt eveniet non. Nulla id animi repellendus fugit, perspiciatis atque alias sequi? Recusandae laboriosam ipsum quae vitae sit odit, ea minima provident nostrum enim, iure accusantium, quidem dolorem unde ullam consequatur ipsam aliquam ratione blanditiis eveniet dicta possimus eaque fuga. Adipisci minus amet dolorum autem ducimus. Voluptate.</p>
{% endblock %}
